<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Edit each word</string>
	<key>ordering</key>
	<array>
		<string>007321BA-D8D2-4AD2-B829-596A2F14D36F</string>
		<string>80CEDC3B-D081-4EF7-BDDE-D9D0B68EFE9A</string>
	</array>
	<key>uuid</key>
	<string>E364C371-B033-46AB-8244-59CD6F16B345</string>
</dict>
</plist>
